.Emulator {

}

.Row-Before {
  background-color: rgb(193, 205, 61);
}

.Row-Active {
  background-color: rgb(12, 244, 12);
}

.CodeArea {
  visibility: hidden;
  float: left;
  /* width: 500px; */
  /* height: 800px; */
  font-size: 14px;
}

.ByteCodeArea {
  float: left;
  width: 800px;
  margin-left: 15px;
  text-align: left;
}

.VmInfoArea {
  float: left;
  width: 500px;
  margin-left: 15px;
}

.ByteCodeArea .Row {
  float: left;
  width: 100%;
}

.ByteCodeArea .Row div {
  display: inline-block;
  float: left;
  padding-right: 10px;
}

.btn {
  padding: 6px;
  margin: 4px;
  font-size: 28px;
}

.tick-btn {
  background-color: green;
  color: #000;
}

.execute-btn {
  background-color: red;
  color: #000;
}

.reset-btn {
  background-color: black;
  color: #fff;
}
